{% extends 'inventory/base.html' %}

{% block title %}Recipe Edit - Pantry Pilot{% endblock title %}

{% block content %}
<section id="edit-recipe" class="form__container">
    <div>
        <h2>Edit:</h2>
        <h3>{{reciperequirement.name}}</h3>
    </div>
    <form class="form__content" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="buttons form__button" type="submit">Confirm Changes</button>
    </form>
    <a href="">Cancel</a>
</section>
{% endblock content %}