* {
    border: 1px solid red !important;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
  }

html {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    color: black;
}

h1 h2 h3 h4 h5 h6 {
    margin: .75rem;
}

p {
    margin: .5rem;
}

a {
    text-decoration: none;
}

/* body {
    background-color: black;
} */

ol,ul {
	list-style: none;
	}

/* BUTTONS/ LINKS */

/* .button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
}

.buttons {
    margin: 0.5rem;
    padding: 0;
    align-self: center;
} */


.navbuttons {
    align-self: center;
    margin: .5rem;
    padding: .35rem;
    text-decoration: none;
    color: white;
    background-color: #1dbab4;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    line-height: 100%;
    margin: 0;
    padding: .5rem;
    outline: 0;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.navbuttons:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
  }
  
.navbuttons:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.navbuttons:disabled {
    cursor: not-allowed;
    opacity: .6;
}

.navbuttons:disabled:active {
    pointer-events: none;
}

.navbuttons:disabled:hover {
    box-shadow: none;
}

.navlinks {
    align-self: center;
    margin: 0.5rem;
}


/* HEADER */

.header__container {
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    background-color: #1561ad;
    /* border-bottom: 1px solid blue; */
    }

.header__logo {
    padding: 0 2rem;
    margin: 0 .5rem;
    color: white;
}

.nav__navlist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.nav__navlist--link {
    color: white;
    text-decoration: none;
    
}

/* MAIN */

.main__container {
    /* padding: 2rem 0; */
    margin-top: 9.8vh;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* HOME_UNAUTHENTICATED */

        /* Title/ description */

.landing__container {
    display: flex;
    max-height: 100%;
    /* justify-content: space-between; */
}

.landing__container--left {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    color: #1561ad;
    /* background-color: #1dbab4; */
}

.landing__img {
    max-width: 100%;
    height: auto;
    align-items: flex-start;
    display: block;
    object-fit: cover;
    /* opacity: 0.8; */
}

.title__container {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    padding: 0 1.75rem;
    /* margin: 1rem 0; */
    /* padding-bottom: .5rem; */
}

.title__container h1 {
    margin: .5rem 0;
}

.title__detail {
    width: 90%;
    text-align: left;
}

        /* Login/ sign-up prompt */

.loginprompt__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
}

.loginprompt__container small {
    margin: .5rem 0;
}

        /* Features */
.feat__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 1rem;
    color: white;
    align-items: stretch;
}

.feat__item {
    flex-direction: column;
    margin: .5rem 0;
    background-color: #1c77ac;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
}

.feat__item--title {
    margin: 0;
    color: white;
}


/* LOGIN/ SIGN-UP */

.form__container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.form__container h2 {
    margin-bottom: 2rem;
}

.form__content * {
    margin: .5rem 0;
}

.form__content{
    margin-bottom: 2rem;
}


/* HOME_AUTHENTICATED */

.home__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
}


.home__card {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: 2rem 1rem;
    padding: 2.5rem;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1c77ac;
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
}

.home__card * {
    margin: .25rem 0;
}

.home__card--title {
    color: white;
}


/* PAGE CONTENT (menu, Inventory, Purchase Log, Finaances) */

.content__container {
    display: flex;
    flex-direction: column;
}

.content__title {
    text-align: left;
    margin: 1rem;
}

.description__container {
    text-align: left;
    margin: 2rem;
    padding: 2rem;
    color: white;
    background-color: #1c77ac;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
}

.description__container p {
    margin: .5rem 0;
}

.detail__container {
    text-align: left;
    margin: .5rem 0;
}

.detail__container h4 {
    margin-bottom: 0;
}

/* TABLES */

.table__container {
    margin: 1.5rem 2.5rem;
    padding: 1.5rem 2rem;
    background-color: #1561ad;
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
}

.table__title {
    text-align: left;
    margin: 1rem 1.5rem 0 1.5rem;
    /* font-size: larger; */
}

.table__row--heading {
    text-align: left;
    font-weight: 600;
    font-size: larger;
    margin: .5rem .25rem;
    padding: .5rem;
}

.table__row--detail {
    padding: 0.5rem;
    text-align: left;
    color: white;
}

.table__link {
    color: #fc5226;
    font-weight: 600;
}


/* LISTS */

.list__container {
    text-align: left;
    padding: 2rem 4rem;
    margin: 2rem 4rem;
    background-color: #1561ad;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
}

.list__container * {
    padding: .5rem 0;
    color: white;
}
