{% extends "inventory/base.html" %}

{% block title %}Home - Pantry Pilot{% endblock title %}

{% block content %}

<section id="home" class="home__container">
    <div class="card card--home">
        <a href="{% url 'menu' %}"><h2 class="card__title card__title--home">MENU</h2></a>
        <h4 class="card__info--home">Current number of menu items:</h4>
        <p class="card__data--home">{{num_menuitems}}</p>
        {% if latest_menuitem %}
        <h4 class="card__info--home">Recently added:</h4>
        <p class="card__data--home">{{latest_menuitem}}</p>
        {% else %}
        <h4 class="card__info--home">Recently added:</h4>
        <p class="card__data--home">There are currently no menu items.</p>
        {% endif %}
        <a href="{% url 'menuitem_new' %}" class="btn btn--home">ADD MENU ITEM</a>
    </div>
    <div class="card card--home">
        <a href="{% url 'inventory' %}"><h2 class="card__title card__title--home">INVENTORY</h2></a>
        <h4 class="card__info--home">Current number of inventory items:</h4>
        <p class="card__data--home">{{num_ingredients}}</p>
        {% if latest_ingredient %}
        <h4 class="card__info--home">Recently added:</h4>
        <p class="card__data--home">{{latest_ingredient}}</p>
        {% else %}
        <h4 class="card__info--home">Recently added:</h4>
        <p class="card__data--home">There are currently no ingredients.</p>
        {% endif %}
        <a href="{% url 'ingredient_new' %}" class="btn btn--home">ADD INVENTORY ITEM</a>
    </div>
    <div class="card card--home">
        <a href="{% url 'purchase_log' %}"><h2 class="card__title card__title--home">PURCHASE LOG</h2></a>
        <h4 class="card__info--home">Total purchases:</h4>
        <p class="card__data--home">{{num_purchases}}</p>
        <h4 class="card__info--home">Last purchase:</h4>
        <p class="card__data--home">{{latest_purchase}}</p>
        <a href="{% url 'purchase_new' %}" class="btn btn--home">LOG A PURCHASE</a>
    </div>
    <div class="card card--home">
        <a href="{% url 'revenue' %}"><h2 class="card__title card__title--home">FINANCES</h2></a>
        {% if yesterday_revenue %}
        <h4 class="card__info--home">Profit for yesterday:</h4>
        <p class="card__data--home">£{{yesterday_revenue.profit|floatformat:2}}</p>
        {% else %}
        <h4 class="card__info--home">Profit for yesterday:</h4>
        <p class="card__data--home">None</p>
        {% endif %}
        <p></p>
        {% if previous_month_revenue %}
        <h4 class="card__info--home">Profit for last month:</h4>
        <p class="card__data--home">£{{previous_month_revenue.profit|floatformat:2}}</p>
        {% else %}
        <h4 class="card__info--home">Profit for last month:</h4>
        <p class="card__data--home">None</p>
        {% endif %}
    </div>
</section>

{% endblock content %}