
{% extends "inventory/base.html" %}

{% load static %}

{% block title %}Home - Pantry Pilot{% endblock title %}

{% block content %}
<section id="landing-page" class="landing">

    <div class="landing__left">
        <img src="{% static 'inventory/images/Pantry_Pilot_logo-darkblue_on_grey.png' %}" alt="Pantry Pilot logo" class="landing__img">
        <div class="left__content">
            <!-- <h1 class="leftcontent__title">Pantry Pilot</h1> -->
            <small class="leftcontent__small">By Django Delights</small>
            <p class="leftcontent__detail">An inventory and sales tracking app for restaurants.</p>
        </div>
        <div class="landing__loginprompt">
            <a href="{% url 'login' %}" class="btn btn--login">LOGIN</a>
            <small class="loginprompt__signupprompt">Don't have an account?</small>
            <small><a href="{% url 'signup' %}" class="signupprompt__link"> Sign-up here</a></small>
        </div>
    </div>        

    <div class="landing__right">
        <a href="{% url 'menu' %}" class="card card--landingright">
            <h2 class="card__title card__title--landingright">MENU</h2>
            <p class="card__info--landingright">Track, update and edit your menu items</p>
        </a>
        <a href="{% url 'inventory' %}" class="card card--landingright">
            <h2 class="card__title card__title--landingright">INVENTORY</h2>
            <p class="card__info--landingright">Track, update and edit your inventory</p>
        </a>
        <a href="{% url 'recipes' %}" class="card card--landingright">
            <h2 class="card__title card__title--landingright">RECIPES</h2>
            <p class="card__info--landingright">Track and update recipes for your menu items</p>
        </a>
        <a href="{% url 'purchase_log' %}" class="card card--landingright">
            <h2 class="card__title card__title--landingright">PURCHASE LOG</h2>
            <p class="card__info--landingright">Track your sales history and add customer purchases</p>
        </a>
        <a href="{% url 'revenue' %}" class="card card--landingright card--landingbottom">
            <h2 class="card__title card__title--landingright">FINANCES</h2>
            <p class="card__info--landingright">Track your income, costs and profit</p>
        </a>
    </div>

</section>
{% endblock content %}