{% extends "inventory/base.html" %}

{% block title %}Home - Pantry Pilot{% endblock title %}

{% block content %}

<section id="home" class="home__container">
    <div class="home__card">
        <a href="{% url 'menu' %}"><h3>Menu</h3></a>
        <p>Current number of menu items:</p>
        <p>{{num_menuitems}}</p>
        {% if latest_menuitem %}
        <p>Recently added:</p>
        <p>{{latest_menuitem}}</p>
        {% else %}
        <p>Recently added:</p>
        <p>There are currently no menu items.</p>
        {% endif %}
        <a href="{% url 'menuitem_new' %}">Add New Menu Item</a>
    </div>
    <div class="home__card">
        <a href="{% url 'inventory' %}"><h3>Inventory</h3></a>
        <p>Current number of inventory items:</p>
        <p>{{num_ingredients}}</p>
        {% if latest_ingredient %}
        <p>Recently added:</p>
        <p>{{latest_ingredient}}</p>
        {% else %}
        <p>Recently added:</p>
        <p>There are currently no ingredients.</p>
        {% endif %}
        <a href="{% url 'ingredient_new' %}">Add New Ingredient</a>
    </div>
    <div class="home__card">
        <a href="{% url 'purchase_log' %}"><h3>Purchase Log</h3></a>
        <p>Total purchases:</p>
        <p>{{num_purchases}}</p>
        <p>Last purchase:</p>
        <p>{{latest_purchase}}</p>
        <a href="{% url 'purchase_new' %}">Log New Purchase</a>
    </div>
    <div class="home__card">
        <a href="{% url 'revenue' %}"><h3>Finances</h3></a>
        {% if yesterday_revenue %}
        <p>Profit for yesterday:</p>
        <p>£{{yesterday_revenue.profit|floatformat:2}}</p>
        {% else %}
        <p>Profit for yesterday:</p>
        <p>None</p>
        {% endif %}
        {% if previous_month_revenue %}
        <p>Profit for last month:</p>
        <p>£{{previous_month_revenue.profit|floatformat:2}}</p>
        {% else %}
        <p>Profit for last month:</p>
        <p>None</p>
        {% endif %}
    </div>
</section>

{% endblock content %}