{% extends 'inventory/base.html' %}

{% block title %}Edit Ingredient - Pantry Pilot{% endblock title %}

{% block content %}
<section id="edit-ingredient" class="formpage__container">
    <div>
        <h2>Edit:</h2>
        <h3>{{ingredient.name}}</h3>
    </div>
    <form class="form__container" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="buttons form__button" type="submit">Confirm Changes</button>
    </form>
    <a href=" {% url 'inventory' %}">Cancel</a>
</section>
{% endblock content %}