{% extends "inventory/base.html" %}

{% block title %}Add ingredient - Pantry Pilot{% endblock title %}

{% block content %}
<section id="add-ingredient" class="form__container">
    <div>
        <h2>Add Ingredient To Inventory</h2>
    </div>
    <form class="form__content" action="{% url 'ingredient_new' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Ingredient</button>
    </form>
    <a href="{% url 'inventory' %}">Return to Inventory</a>
</section>
{% endblock content %}


