{% extends "inventory/base.html" %}

{% block title %}Inventory - Pantry Pilot{% endblock title %}

{% block content %}
<section id="inventory" class="content__container">
    <div class="description__container">
        <h2 class="content__title">Inventory</h2>
        <p>Track the ingredients in your inventory, including the quantity available, the unit of measurement and the cost-per-unit.</p>
        <p>To add a new ingredient to your inventory, click 'Add New Ingredient' below.</p>
        <p></p>  
    </div>
    <a href="{% url 'ingredient_new' %}" class="navbuttons">Add To Inventory</a>
    <table class="table__container">
        <thead class="table__head">
            <tr class="table__head--row">
                <th class="table__row--heading">Ingredient</th>
                <th class="table__row--heading">Quantity</th>
                <th class="table__row--heading">Unit</th>
                <th class="table__row--heading">Cost/unit</th>
                <th class="table__row--heading"></th>
                <th class="table__row--heading"></th>
            </tr>
        </thead>
        <tbody class="table__body">
            {% if ingredient_list %}
            {% for ingredient in ingredient_list %}
            <tr class="table__body--row">
                <td class="table__row--detail">{{ingredient.name}}</td>
                <td class="table__row--detail">{{ingredient.quantity_available}}</td>
                <td class="table__row--detail">{{ingredient.get_measurement_unit_display}}</td>
                <td class="table__row--detail">£{{ingredient.cost_per_unit}}</td>
                <td class="table__row--detail">
                    <a href="{% url 'ingredient_edit' ingredient.id %}"><small class="table__edit">Edit</small></a>
                </td>
                <td>
                    <a href="{% url 'ingredient_delete' ingredient.id %}"><small class="table__delete">Delete</small></a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <p>Your inventory is currently empty</p>
            {% endif %}
        </tbody>
    </table>
    <h3 class="table__title">Items to restock:</h3>
    <table class="table__container">
        <thead class="table__head">
            <tr class="table__head--row">
                <th class="table__row--heading">Ingredient</th>
                <th class="table__row--heading">Quantity to restock</th>
                <th class="table__row--heading">Unit</th>
                <th class="table__row--heading">Cost to restock</th>
                <th class="table__row--heading"></th>
            </tr>
        </thead>
        <tbody class="table__body">
            {% for ingredient, restock_info in restock_dict.items %}
            <tr class="table__body--row">
                <td class="table__row--detail">{{ingredient.name}}</td>
                <td class="table__row--detail">{{restock_info.restock_quantity}}</td>
                <td class="table__row--detail">{{ingredient.get_measurement_unit_display}}</td>
                <td class="table__row--detail">£{{restock_info.restock_cost|floatformat:2}}</td>
                <td class="table__row--detail">
                    <a href="{% url 'ingredient_edit' ingredient.id %}"><small class="table__edit">Update</small></a>
                </td>
            </tr>
            {% empty %} 
            <p>Inventory is full</p>
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock content %}