{% extends "inventory/base.html" %}

{% block title %}Inventory - Pantry Pilot{% endblock title %}

{% block content %}
<section id="inventory" class="page">
    <div class="content">
        <h1 class="content__title">INVENTORY</h1>
        <p class="content__description">Track the ingredients in your inventory, including the quantity available, the unit of measurement and the cost-per-unit.</p>
        <p class="content__description">To add a new ingredient to your inventory, click 'Add New Ingredient' below.</p>
        <p class="content__description">When an inventory item needs to be restocked, it will be displayed below your inventory, along with the qauntity needed and the cost of restocking.</p>  
    </div>
    <a href="{% url 'ingredient_new' %}" class="btn btn--add">ADD TO INVENTORY</a>
    <div class="content__bottom">
        <div class="card card--table">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table__row__heading">INGREDIENT</th>
                        <th class="table__row__heading">QUANTITY</th>
                        <th class="table__row__heading">UNIT</th>
                        <th class="table__row__heading">COST/UNIT</th>
                        <th class="table__row__heading"></th>
                        <th class="table__row__heading"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if ingredient_list %}
                    {% for ingredient in ingredient_list %}
                    <tr>
                        <td class="table__row__detail">{{ingredient.name}}</td>
                        <td class="table__row__detail">{{ingredient.quantity_available}}</td>
                        <td class="table__row__detail">{{ingredient.get_measurement_unit_display}}</td>
                        <td class="table__row__detail">£{{ingredient.cost_per_unit}}</td>
                        <td class="table__row__detail">
                            <a href="{% url 'ingredient_edit' ingredient.id %}" class="table__link"><small>Edit</small></a>
                        </td>
                        <td>
                            <a href="{% url 'ingredient_delete' ingredient.id %}" class="table__link"><small>Delete</small></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p>Your inventory is currently empty</p>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <h2 class="table__title">ITEMS TO RESTOCK:</h2>
        <div class="card card--table">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table__row__heading">INGREDIENT</th>
                        <th class="table__row__heading">QUANTITY TO RESTOCK</th>
                        <th class="table__row__heading">UNIT</th>
                        <th class="table__row__heading">COST TO RESTOCK</th>
                        <th class="table__row__heading"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient, restock_info in restock_dict.items %}
                    <tr>
                        <td class="table__row__detail">{{ingredient.name}}</td>
                        <td class="table__row__detail">{{restock_info.restock_quantity}}</td>
                        <td class="table__row__detail">{{ingredient.get_measurement_unit_display}}</td>
                        <td class="table__row__detail">£{{restock_info.restock_cost|floatformat:2}}</td>
                        <td class="table__row__detail">
                            <a href="{% url 'ingredient_edit' ingredient.id %}" class="table__link"><small>Update</small></a>
                        </td>
                    </tr>
                    {% empty %} 
                    <p>Inventory is full</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        

</section>
{% endblock content %}