{% extends 'inventory/base.html' %}

{% block title %}Menu Item Recipe - Pantry Pilot{% endblock title %}

{% block content %}
<section class="content__container">
    <div class="desciption__container">
        <h2 class="table__title">{{ object.name }} Recipe</h2> 
    </div>
    <div>
        <ul>
            {% for reciperequirement in reciperequirement_list %}
            <li>{{ reciperequirement.ingredient.name }}: {{ reciperequirement.ingredient_quantity }}{{ reciperequirement.ingredient.get_measurement_unit_display }}</li>
            {% empty %}
            <li>Recipe is currently empty.</li>
            {% endfor %}
        </ul>
        <!-- 'add recipe' button -->
    </div>
</section>

{% endblock content %}