{% extends 'inventory/base.html' %}

{% block title %}Menu Item Details - Pantry Pilot{% endblock title %}

{% block content %}

<section id="menu-item-details" class="content__container">
    <div class="detail__container">
        <h2 class="content__title">{{object.name}}</h2> 
        <h4>Description:</h4>
        <p>{{menuitem.description}}</p>
    </div>
    <div class="detail__container">
        <h4>Total Cost:</h4>
        <p>£{{object.get_total_cost}}</p>
        <h4>Sale Price:</h4>
        <p>£{{menuitem.price}}</p>
    </div>
    <a href="{% url 'menuitem_edit' menuitem.id %}" class="navbuttons">Edit Menu Item Details</a>
    <table class="table__container">
        <thead>
            <tr>
                <th class="table__row--heading">Ingredient</th>
                <th class="table__row--heading">Quantity Required</th>
                <th class="table__row--heading">Unit</th>
                <th class="table__row--heading">Cost/unit</th>
                <th class="table__row--heading"></th>
                <th class="table__row--heading"></th>
            </tr>
        </thead>
        {% for reciperequirement in reciperequirement_list %}
        <tbody>
            <tr>
                <td class="table__row--detail">{{reciperequirement.ingredient}}</td>
                <td class="table__row--detail">{{reciperequirement.ingredient_quantity}}</td>
                <td class="table__row--detail">{{reciperequirement.ingredient.get_measurement_unit_display}}</td>
                <td class="table__row--detail">£{{reciperequirement.ingredient.cost_per_unit}}</td>
                <td>
                    <a href="{% url 'recipe_edit' reciperequirement.pk %}"><small>Edit</small></a>
                </td>
                <td>
                    <a href="{% url 'reciperequirement_delete' reciperequirement.pk %}"><small>Delete</small></a>
                </td>
            </tr>
            {% empty %}
            <p>No ingredients have been added to this recipe</p>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'recipe_new' menuitem.pk %}" class="navbuttons">Add New Ingredient</a>
    <div class="detail__container">
        <h4>Instructions:</h4>
        {% if menuitem.recipe_instructions %}
            <p>{{menuitem.recipe_instructions}}</p>
        {% else %}
            <p>No instructions currently</p>
        {% endif %}
    </div>
    <a href="{% url 'menu' %}" class="navlinks">Go To Menu</a>
    <a href="{% url 'recipes' %}" class="navlinks">Go to Recipes</a>
</section>

{% endblock content %}