{% extends "inventory/base.html" %}

{% block title %}Purchase Log - Django Delights{% endblock title %}

{% block content %}
<section class="purchase__container main__container">
    <h4>Purchase Log</h4>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Menu Item</th>
                    <th>Logged By</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href=""><small>Edit</small></a>
                        <a href=""><small>Delete</small></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock content%}