{% extends 'inventory/base.html' %}

{% block title %}Edit Purchase - Pantry Pilot{% endblock title %}

{% block content %}
<section id="edit-purchase" class="form">
    <div class="card card--form">
        <h2 class="card__title card__title--form">EDIT PURCHASE OF:</h2>
        <h3 class="card__title card__title--form">'{{purchase.menuitem}}'</h3>
        <form class="card__form card__form--start" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn--submit">CONFIRM</button>
        </form>
        <a href=" {% url 'purchase_log' %}" class="navlinks">Cancel</a>
    </div>
</section>
{% endblock content %}