{% extends "inventory/base.html" %}

{% block title %}Log new purchase - Pantry Pilot{% endblock title %}

{% block content %}
<section id="log-purchase" class="formpage__container">
    <div>
        <h2>Log New Purchase</h2>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <form class="form__container" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="buttons form__button" type="submit">Log Purchase</button>
    </form>
    <a href="{% url 'purchase_log' %}">Return to Purchase Log</a>
</section>
{% endblock content %}