{% extends "inventory/base.html" %}

{% block title %}Recipes - Pantry Pilot{% endblock title %}

{% block content %}
<section id="recipes" class="page">
    <div class="content">
        <h1 class="content__title">RECIPES</h1>
        <p class="content__description">Explore a detailed breakdown of every item on your menu. Get insights into the ingredients used, their quantities, and the preparation process.</p>
        <p class="content__description">Streamline your kitchen operations and ensure consistency across servings.</p>
        <p class="content__description">Click on any menu item to access its full recipe and instructions.</p>
    </div>
    {% if menuitem_list %}
        <div class="card card--table">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table__row__heading">MENU ITEM</th>
                        <th class="table__row__heading">PRICE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for menuitem in menuitem_list %}
                        <tr class="table__row--alternating">
                            <td><a href="{% url 'menuitem_detail' menuitem.id %}" class="table__row__detail table__row__detail--link">{{menuitem.name}}</a></td>
                            <td class="table__row__detail">£{{menuitem.price}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="card card--empty">
            <p>There are currently no recipes</p>
        </div>
    {% endif %}
</section>
{% endblock content%}