{% extends "inventory/base.html" %}

{% block title %}Add Recipe To Menu Item - Pantry Pilot{% endblock title %}

{% block content %}
<section class="formpage__container">
    
     {% if recipe_requirement %}
     <div>
        <a href="{% url 'menuitem_detail' menuitem.pk %}"><button class="buttons form__button" type="">Recipe Complete</button></a>
        <h4>Or</h4>
        <h3>Continue Recipe for '{{ menuitem.name }}':</h3>
    </div>
    <form class="form__container" action="{% url 'recipe_new' menuitem.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="buttons form__button" type="submit">Add To Recipe</button>
    </form>  

    {% else %}
    <div>
        <h3>Create recipe for {{ menuitem.name }}:</h3>
    </div>
    <form class="form__container" action="{% url 'recipe_new' menuitem.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="buttons form__button" type="submit">Add To Recipe</button>
    </form>

    {% endif %}
</section>
{% endblock content %}


