{% extends "inventory/base.html" %}

{% block title %}Delete Recipe Requirement - Pantry Pilot{% endblock title %}

{% block content %}
<section id="delete-recipe-requirement" class="form">
    <div class="card card--form card--form--delete">
        <h2 class="card__title card__title--delete">DELETE:</h2>
        <h3 class="card__title card__title--delete">{{reciperequirement.ingredient}}</h3>
        <h5 class="card__title--small">from</h5>
        <h3 class="card__title card__title--delete">'{{reciperequirement.menuitem}}'</h3>
        <form class="card__form" action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn--submit">CONFIRM</button>
        </form>
        <a href=" {% url 'menuitem_detail' pk=object.menuitem.pk %}" class="navlinks">Cancel</a>
    </div>
</section>
{% endblock content %}