{% extends "inventory/base.html" %}

{% block title %}Delete Recipe Requirement - Pantry Pilot{% endblock title %}

{% block content %}
<section id="delete-recipe-requirement" class="form__container">
    <div>
        <h2>Delete:</h2>
        <h3>{{reciperequirement.ingredient}}</h3>
        <h3>from</h3>
        <h3>{{reciperequirement.menuitem}}</h3>
    </div>
    <form class="form__content" action="" method="POST">
        {% csrf_token %}
        <button class="buttons form__button" type="submit">Confirm</button>
    </form>
    <a href=" {% url 'menuitem_detail' pk=object.menuitem.pk %}">Cancel</a>
</section>
{% endblock content %}