{% extends "inventory/base.html" %}

{% block title %}Recipes - Pantry Pilot{% endblock title %}

{% block content %}
<section id="recipes" class="content__container">
    <div class="recipes__container">
        <h2 class="list__title">Recipes</h2>
        <p>Some description of the page.</p>
        <p>Some description of the page.</p>
        <p>Some description of the page.</p>  

        <ol class="list__container flex__center">
            {% for menuitem in menuitem_list %}
            <a href="{% url 'menuitem_detail' menuitem.pk %}"><li class="list__item">{{ menuitem.name }}</li></a>
            {% endfor %}
        </ol>
    </div>
    
</section>
{% endblock content%}