{% extends "inventory/base.html" %}

{% block title %}Recipes - Pantry Pilot{% endblock title %}

{% block content %}
<section id="recipes" class="content__container">
    <div class="recipes__container">
        <h2 class="list__title">Recipes</h2>
        <p>Click on each menu item below to see its description, its recipe and instructions for making it. </p> 
        <ol class="list__container flex__center">
            {% if menuitem_list %}
            {% for menuitem in menuitem_list %}
            <a href="{% url 'menuitem_detail' menuitem.pk %}"><li class="list__item">{{menuitem.name}}</li></a>
            {% endfor %}
            {% endif %}
        </ol>
    </div>
    
</section>
{% endblock content%}