{% extends 'inventory/base.html' %}

{% block title %}Edit Recipe Requirement - Pantry Pilot{% endblock title %}

{% block content %}
<section id="edit-recipe-requirement" class="form">
    <div class="card card--form">
        <h2 class="card__title card__title--form">EDIT:</h2>
        <h3>'{{reciperequirement.ingredient}}'</h3>
        <form class="card__form card__form--start" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn--submit">CONFIRM</button>
        </form>
        <a href=" {% url 'menu' %}" class="navlinks">Cancel</a>
    </div>
</section>
{% endblock content %}