{% extends 'inventory/base.html' %}

{% block title %}Menu Item Recipe - Pantry Pilot{% endblock title %}

{% block content %}
<section class="content__container">
    <div class="desciption__container">
        <h2 class="table__title">Recipe for: {{ object.name }}</h2> 
        <p>{{ menuitem.description }}</p>
    </div>
    <div>
        <p>Total cost: {{ object.get_total_cost }}</p>
        <p>Sale Price: {{ menuitem.price }}</p>
        <ul>
            {% for reciperequirement in reciperequirement_list %}
            <li>{{ reciperequirement.ingredient.name }}: {{ reciperequirement.ingredient_quantity }}{{ reciperequirement.ingredient.get_measurement_unit_display }}</li>
            {% empty %}
            <li>Recipe is currently empty.</li>
            <!-- 'add recipe' button -->
            {% endfor %}
        </ul>
        <h4>Instructions:</h4>
        <p>{{ menuitem.recipe_instructions }}</p>
    </div>
</section>

{% endblock content %}