{% extends "inventory/base.html" %}

{% block title %}Revenue - Django Delights{% endblock title %}

{% block content %}
<section class="revenue__container main__container">
    <h4>Revenue</h4>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Income</th>
                    <th>Costs</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href=""><small>Edit</small></a>
                        <a href=""><small>Delete</small></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock content%}