{% extends "inventory/base.html" %}

{% block title %}Revenue - Django Delights{% endblock title %}

{% block content %}
<section id="revenue" class="content__container">
    <div class="description__container">
        <h2>Revenue</h2>
        <p>Some description of the page.</p>
        <p>Some description of the page.</p>
        <p>Some description of the page.</p>
    </div>
    
    <table class="table__container">
        <thead class="table__head">
            <tr class="table__head--row">
                <th class="table__row--heading">Date</th>
                <th class="table__row--heading">Income</th>
                <th class="table__row--heading">Costs</th>
                <th class="table__row--heading">Profit</th>
            </tr>
        </thead>
        <tbody class="table__body">
            {% for revenue in daily_revenues %}
            <tr class="table__body--row">
                <td class="table__row--detail">{{ revenue.date }}</td>
                <td class="table__row--detail">{{ revenue.income|floatformat:2 }}</td>
                <td class="table__row--detail">{{ revenue.costs|floatformat:2 }}</td>
                <td class="table__row--detail">{{ revenue.profit|floatformat:2 }}</td>
                <td>
                    <a href=""><small>Edit</small></a>
                </td>
                <td>
                    <a href=""><small>Delete</small></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content%}