{% extends "inventory/base.html" %}

{% block title %}Revenue - Django Delights{% endblock title %}

{% block content %}
<section id="revenue" class="content__container">
    <div class="description__container">
        <h2 class="content__title">Finances</h2>
        <p>Important data on your business's finances, both daily and monthly. </p>
        <p>Track your overall sales, costs and profit.</p>
        <p>Track both daily and monthly figures.</p>
    </div>
    <h3 class="table__title">Overview</h3>
    <ul class="list__container">
        <li><strong>Total Sales:</strong> £{{total_revenue.total_sales|floatformat:2}}</li>
        <li><strong>Total Costs:</strong> £{{total_revenue.total_costs|floatformat:2}}</li>
        <li><strong>Total Profit:</strong> £{{total_revenue.total_profit|floatformat:2}}</li>
    </ul>
    <h3 class="table__title">Monthly</h3>
    <table class="table__container">
        <thead class="table__head">
            <tr class="table__head--row">
                <th class="table__row--heading">Date</th>
                <th class="table__row--heading">Income</th>
                <th class="table__row--heading">Costs</th>
                <th class="table__row--heading">Profit</th>
            </tr>
        </thead>
        <tbody class="table__body">
            {% for month, revenue in monthly_revenue.items %}
            <tr class="table__body--row">
                <td class="table__row--detail">{{month|date:"F Y" }}</td>
                <td class="table__row--detail">£{{revenue.income|floatformat:2 }}</td>
                <td class="table__row--detail">£{{revenue.costs|floatformat:2 }}</td>
                <td class="table__row--detail">£{{revenue.profit|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
     
     <h3 class="table__title">Daily</h3>
    <table class="table__container">
        <thead class="table__head">
            <tr class="table__head--row">
                <th class="table__row--heading">Date</th>
                <th class="table__row--heading">Income</th>
                <th class="table__row--heading">Costs</th>
                <th class="table__row--heading">Profit</th>
            </tr>
        </thead>
        <tbody class="table__body">
            {% for date, revenue in daily_revenue.items %}
            <tr class="table__body--row">
                <td class="table__row--detail">{{date}}</td>
                <td class="table__row--detail">£{{revenue.income|floatformat:2 }}</td>
                <td class="table__row--detail">£{{revenue.costs|floatformat:2 }}</td>
                <td class="table__row--detail">£{{revenue.profit|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content%}