{% extends "inventory/base.html" %}

{% block title %}Login - Django Delights{% endblock title %}

{% block header %}
<div>
    <span>Pantry Pilot</span>
</div>
{% endblock header %}

{% block content %} 
<section id="login-page" class="form">
    <div class="card card--form">
        <h2 class="card__title card__title--form">LOGIN</h2>
        <form class="card__form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn--login">LOGIN</button>    
        </form>
        <p>Don't have an account?</p>
        <a href="{% url 'signup' %}" class="btn">CREATE NEW ACCOUNT</a>
    </div>
</section>
{% endblock content %}