{% extends "inventory/base.html" %}

{% block title %}Signup - Pantry Pilot{% endblock title %}

{% block header %}
<div>
    <span>Pantry Pilot</span>
</div>
{% endblock header %}

{% block content %}

<section id="signup-page" class="form">
    <div class="card card--form">
        <h2 class="card__title card__title--form">CREATE NEW ACCOUNT</h2>
        <form class="card__form card__form--start" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn__container--centered">
                <button type="submit" class="btn btn--submit">CREATE ACCOUNT</button>
            </div>
        </form>
    </div>
</section>

{% endblock content %}